
 
<!-- <head>
    <meta charset="utf-8">
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head> -->


  
  <!-- <div style="text-align:center;margin-top:90px;">
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
  </div> -->
  <!-- </html> -->
  
  <header>
    <!-- <div class="row transbg" id="transbg">
      <div class="container bardiv">
        <div class="col-md-6">
          <div class="logo-box">
            <img src="assets/img/logo.png" height="45px"/>
          </div>
        </div>
        <div class="col-md-6">
          <div class="menubr text-right">
            <nav>
            <a href="#" id="menu-icon"></a>
            <ul class="mynav">
            <li><a href="#" class="current">Post Ads</a></li>
            <li><a [routerLink]="['signup']">Sign Up</a></li>
            <li><a [routerLink]="['login']">Sign In</a></li>
            </ul>
            </nav>
  
          </div>
        </div>
      </div><div class="clearfix"></div>
    </div>  -->
    <!-- transbg end here -->
    <!-- <div class="row"> -->
      <div class="slider">
        <div class="banner-box">
          <div class="heading-txt">CONNECTING <span>COMMUNITIES  PEOPLE</span></div>
          <form class="classified-search">
            <input type="text" class="search-field"  id="search-field" name="location" placeholder="Location" >
            <input type="text" class="search-field"  id="search-field" name="Services" placeholder="Services" >
            <input type="submit" class="search-field"  id="search-field" name="submit" value="Search">
          </form>
        </div>
      </div>
    <!-- </div> -->
    <!-- row end here -->
  </header>
  <main>
  
    <!-- <router-outlet></router-outlet> -->
  
    <!-- ===================Feature services block section=================== -->
    <section class="main-showcase-section">
      <!-- <div class="row"> -->
        <div class="container">
          <div class="col-md-3">
            <div class="featur-servic">
              <img src="assets/img/connect_your_social.svg" class="img-responsive img-h">
              <h3>CONNECT WITH <br>YOUR COMMUNITY</h3>
              <p> lorem ipsum get duo na sultan farnitra khali kash wala ram.</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="featur-servic">
              <img src="assets/img/activity_nearby.svg" class="img-responsive img-h">
              <h3>SEARCH LOCAL <br> ACTIVITIES NEAR YOU</h3>
								<p> lorem ipsum get duo na sultan farnitra khali kash wala ram.</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="featur-servic">
              <img src="assets/img/classfied_your_ad.svg" class="img-responsive img-h">
              <h3>CLASSIFIED (POST <br>SEARCH YOUR AD)</h3>
									<p> lorem ipsum get duo na sultan farnitra khali kash wala ram.</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="featur-servic">
              <img src="assets/img/mobion_for_everyone.svg" class="img-responsive img-h">
              <h3>MOBION (CHAT <br>AND CALL PLATEFORM)</h3>
								<p> lorem ipsum get duo na sultan farnitra khali kash wala ram.</p>
            </div>
          </div>
        </div><div class="clearfix"></div>
      <!-- </div> -->
      <!-- row end here -->
    </section>
  
    <!-- ===================Animation text block section=================== -->
    <section class="main-text">
        <section class="animation-box">
          <div id="slide" class="slideall">AAO NRI</div>
          <div id="slide1" class="slideall">AAO</div>
          <div id="slide2" class="slideall">आओ एन. आर. आई.</div>
          <div id="slide3" class="slideall">AAO NRI</div>
          <div id="slide4" class="slideall">आओ एन. आर. आई.</div>
            </section>
          
      <!-- <div class="random-txt-shower" >
            <div class="fadeIn">AAO NRI</div>
            <div class="fadeIn">आओ एन. आर. आई.</div>
            <div class="fadeIn">AAO NRI</div>
            <div class="fadeIn">आओ एन. आर. आई.</div>
            <div class="fadeIn">AAO NRI</div>
            <div class="fadeIn">आओ एन. आर. आई.</div>
      </div> -->
      <div class="clearfix"></div>
    </section>
    
    <!-- ===================feature Images Grid text block section=================== -->
    <section class="feature-img-grid-section">
      <!-- <div class="row"> -->
        <div class="col-md-12">
          <!-- <div class="row"> -->
            <div class="col-md-8">
              <div class="grid-img">
                <div class="strip-b-w" >LATEST NEWS</div>
                <img src="assets/img/grid_1.jpg" alt="grid-image" class="img-responsive grayscale">
              </div>
            </div>
            <div class="col-md-4">
              <div class="grid-img">
                <div class="strip-b">IMMIGRATION</div>
                <img src="assets/img/grid_2.jpg" alt="grid-image" class="img-responsive grayscale">
              </div>
              <div class="grid-img" >
                  <div class="strip-b">ACTIVITES NEAR BY</div>
                <img src="assets/img/grid_3.jpg" alt="grid-image" class="img-responsive grayscale">
              </div>
            </div>
            <div class="clearfix"></div>

            <!-- <div class="row"> -->
            <div class="col-md-4">
              <div class="grid-img">
                  <div class="strip-b">CONNECT SOCIAL</div>

                <img src="assets/img/grid_4.jpg" alt="grid-image" class="img-responsive grayscale">
              </div>
            </div>
            <div class="col-md-4">
              <div class="grid-img">
                  <div class="strip-b">ACTIVITIES NEAR BY</div>

                <img src="assets/img/grid_5.jpg" alt="grid-image" class="img-responsive grayscale">
              </div>
            </div>
            <div class="col-md-4">
              <div class="grid-img">
                  <div class="strip-b">YOU'RE LIKE</div>

                <img src="assets/img/grid_5.jpg" alt="grid-image" class="img-responsive grayscale">
              </div>
            </div>
            <!-- </div> -->
            <div class="clearfix"></div>
          <!-- </div> -->
          <!-- row end here -->
        </div>
        
        <div class="clearfix"></div>
      <!-- </div> -->
    </section>
    
    <!-- ===================Mobile App section=================== -->
    <section class="mobile-app-section padtop40">
      <!-- <div class="row"> -->
        <div class="col-md-8">
          <div class="row">
             <div class="col-md-6 col-md-offset-6">
              <div class="mob-app-txt">
                <h2> Download our Mobile application</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
                <div class="social-but">
                  <img src="assets/img/apple_store.png" alt="grid-image" class="img-responsive">
                <img src="assets/img/google_play.png" alt="grid-image" class="img-responsive">
                </div>
              </div><div class="clearfix"></div>
            </div>
          </div><!-- row end here -->
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12">
              <div class="grid-img1">
                <img src="assets/img/mobile_hand.png" alt="grid-image" class="img-responsive">
              </div>
            </div><div class="clearfix"></div>
          </div> <!-- row end here -->
        </div>
        <div class="clearfix"></div>
      <!-- </div> -->
    </section>
    
    <!-- ===================Ads block section=================== -->
    <section class="home-ads-section">
      <!-- <div class="row"> -->
        <div class="col-md-12">
          <img src="assets/img/ads_bg.jpg" class="img-responsive">
        </div>
      <!-- </div> -->
      <div class="clearfix"></div>
    </section>
  
  </main>